<%- include('header') %>

<div class="row">
    <aside class="col-sm-3">
        <h6>Szobanév</h6>
        <div id="roomname">


        </div>

        <h6>Felhasználók</h6>
        <ul id="userslist"></ul>
        <a href="/" class="btn btn-primary">Kilépés</a>
    </aside>

    <section class="col-sm-9">
        <h6>Chat</h6>
        <div class="chat-messages">
            
        </div>
        <div class="input-group">
            <input type="text" name="msgTxt" placeholder="Írj üzenetet..." class="form-control">
            <button class="btn btn-success" id="sendBtn">Küldés</button>
        </div>
    </section>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="../js/app.js"></script>
<%- include('footer') %>