/*Úgy editeled ahogy akarod, csak azért editeltem, hogy 
átlássam mi hogy van*/

body{
    background-color: silver;
}
.container{
    background-color: white;
    box-shadow: 0 0 15px gray;
    margin: 50px auto;
    padding: 15px;
}

header{
    background-color: slategray;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 5px black;
}

main{
    padding: 20px;
}

label, h6{
    font-style: italic;
    color: slategray;
}

footer{
    background-color: black;
    color:white;
    text-align: center;
    font-size: 85%;
    padding: 10px;
    letter-spacing: 3px;
}

.chat-messages{
    height: 400px;
    border: 1px solid black;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    overflow: auto;
    
}

.message{
    background-color: silver;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
    position: relative;
}

.message::after{
    content: '';
    position: absolute;
    display: block;
    width: 10px;
    z-index: 1;
    border-style: solid;
    border-color: transparent #efefef transparent transparent;
    border-width: 10px 15px 10px 0px;
    top: 33px;
    left: -15px;
    margin-top: -20px;
}

p{
    padding: 0;
    margin: 0;
}

.uname{
    color: black;
    font-weight: bold;
}

span{
    float:right;
    color: slategray;
    font-style: italic;
    font-size: 80%;
    padding-right: 10px;
}
